<div class="header-outer">
    <div class="container p-3">
        <div class="page-header">
            <div class="header-logo">
              eVenture
            </div>
            <div class="link-tab-section">
                <ul>
                    <li>
                        <div class="nav-item">
                           Home
                        </div>
                    </li>
                    <li>
                        <div class="nav-item">
                           Why us
                        </div>
                    </li>
                    <li>
                        <div class="nav-item">
                           our team
                        </div>
                    </li>
                    <li>
                        <div class="nav-item">
                           testimonials
                        </div>
                    </li>
                    <li>
                        <div class="nav-item">
                           Contact us
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
