<app-page-header></app-page-header>
<div class="home-banner p-3">
    <div class="container">
      <div class="banner-section text-center p-5">
          <h1 class="mb-4">Welcome to <span class="gv-font fw-regular">eVenture</span></h1>
          <h6> " Welcome to eVenture, your premier destination for seamless event management. Explore a world of endless opportunities to plan, organize, and execute memorable events effortlessly. From corporate gatherings to social soirées, we've got you covered. Start your journey with us today and unlock the full potential of your events! "</h6>
      </div>
    </div>
</div>
<div class="why-us-section">
    <div class="container">        
        <div class="row mx-0">
            <div class="col-md-7">
                <h1 class="gv-font mb-4">Why Us ?</h1>
                <h6>eVenture stands out as your premier choice for event management. Our comprehensive solutions offer flexibility and customization, seamlessly integrating with leading technologies. With expert support at every turn, we ensure your event's success. Experience innovation firsthand with our cutting-edge features, backed by a trusted reputation for excellence. Choose eVenture and unlock the potential for unforgettable events.</h6>
            </div>
            <div class="col-md-5 text-center">
               <img src="../../../assets/img/planning.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="meet-our-team">
    <div class="container">
        <div class="row mx-0 position-relative mb-3">
            <h1 class="gv-font marker-line text-center">Meet Our Team</h1>
        </div>
        <div class="team-section pt-3">
            <div class="member">
                <img src="../../../assets/img/profile-img.jpg" alt="">
                <h6>Albert Roberro</h6>
                <h4>Team Lead</h4>
            </div>
            <div class="member">
                <img src="../../../assets/img/profile-img.jpg" alt="">
                <h6>Albert Roberro</h6>
                <h4>Team Lead</h4>
            </div>
            <div class="member">
                <img src="../../../assets/img/profile-img.jpg" alt="">
                <h6>Albert Roberro</h6>
                <h4>Team Lead</h4>
            </div>
        </div>
    </div>
</div>
<div class="key-feature">
    <div class="container">
        <div class="row mx-0">
            <div class="col-6 text-center">
                <img src="../../../assets/img/event-space.jpeg" alt="">
            </div>
            <div class="col-6 text-left">
                <h1 class="gv-font mb-4">Key Features</h1>
                <h6 class="mb-4">From small gatherings to large conferences, <span class="gv-font text-underline">eVenture</span> has you covered. We prioritize understanding your unique event needs.</h6>
                <button class="join-now">Join Now</button>
            </div>
        </div>
    </div>
</div>